.form-register {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    max-width: 600px;

    margin: auto;
    padding: 24px;
}
.form-register > p {
    font-style: italic;
}

.form-group{
    width: 100%;
    font-size: 18px;
}

.form-submit {
    display: flex;
    gap: 12px;
}

@media (max-width: 768px) {
    .form-register  {
        margin: 0 auto;
    }
}